<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- Location of the properties file -->
    <context:property-placeholder location="classpath:teams.properties"/>
    <!-- Bean for TeamProperties file -->
    <bean id="teamBean" class="team.TeamProperties">
        <!-- Constructor Injection Referral to ProjectProperties class -->
        <constructor-arg ref="projectBean" />

        <!-- Fetching the values from properties file and store into the team class fields -->
        <property name="teamName" value="${teamName}"/>
        <property name="noOfMembers" value="${teamMember}"/>
    </bean>

    <!-- Bean for AddressProperties class -->
    <bean id="addressBean" class="address.AddressProperties"/>

    <!-- Bean for ProjectProperties Class -->
    <bean id="projectBean" class="project.ProjectProperties"/>

    <!--  Bean for UserProperties  -->
    <bean id="userBean" class="user.UserProperties">
        <!-- Constructor Injection Referral to AddressProperties class -->
        <constructor-arg ref="addressBean" />

        <!-- Setter Injection Referral to TeamProperties class -->
        <property name="team" ref="teamBean"/>
    </bean>
</beans>